.game {
}
.game__container {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  margin: 0;
  text-align: center;
}
a {
  color: #fff;
  text-decoration: none;
  &:hover {
    color: #16D9E3;
  }
}
h2 {
  line-height: 1.4;
  font-size: 4rem;
  color: #fff;
  display: inline-flex;
}
h3 { 
  color: #fff;
  margin-bottom: 10px;
}
.game__screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  padding: 0 10px;
  transition: margin 0.5s ease-out;
  background: linear-gradient(#002e57, #1ffcfc);
  &--up {
    margin-top: -100vh;
  }
  &--down {
    margin-top: 100vh;
  }
}
.game__start {
  display: block;
  font-size: 1.5rem;
  padding: 20px;
}
.game__time-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding: 0;
}
li {
  margin: 10px;
}
.game__time-btn {
  background-color: transparent;
  border: 2px solid #C0C0C0;
  color: #fff;
  cursor: pointer;
  font-family: inherit;
  padding: .5rem 1rem;
  font-size: 1.5rem;
  &:hover {
    border: 2px solid #16D9E3;
    color: #16D9E3;
  }
}
.hide {
  opacity: 0;
}
.primary {
  padding: 0 20px;
  color: #16D9E3;
}
.game__board {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  max-width: 500px;
  max-height: 500px;
  width: 100%;
  height: 100%;
  background: linear-gradient(118.38deg, #29323C -4.6%, #485563 200.44%);
  box-shadow: -8px -8px 20px #2A333D, 10px 7px 20px #475462;
  border-radius: 30px;
  overflow: hidden;
}
.circle {
  background: linear-gradient(90deg, #16D9E3 0%, #30C7EC 47%, #46AEF7 100%);
  position: absolute;
  border-radius: 50%;
  cursor: pointer;
}
